  
<%= simple_form_for @recipe do |f| %>
  <%= f.input :name %>
  <%= f.input :difficulty, collection: Recipe::DIFFICULTY  %>
  <%= f.input :price, collection: Recipe::PRICE  %>
  <%= f.input :diet, collection: Recipe::DIET %>
  <%= f.input :time %>
  <%= f.label "Filtres" %><br />
  <div class="new-recipe-filters-container">
    <%= f.collection_check_boxes :filter_ids, Filter.all, :id, :name do |b| %>
      <div class="col">
        <%= b.check_box %>
        <%= b.label %>
      </div>
    <% end %>
  </div>
  <%= f.input :content, as: :text %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit, "Enregistrer", class: "btn btn-success"%>
<% end %>