<div class="banner shadow-lg">
  <div class="container align-middle">
    <h1 class="banner-h1 justify-content-center">What's for dinner?</h1><br>
    <h2 class="banner-h2 text-center"> Qu'allez-vous cuisiner ces prochains jours ?</h2>
    <div class="row justify-content-center">
      <%= link_to "Je crée un nouveau menu", new_menu_path, class:"red-btn m-5" %>
      <div class="row double-arrow justify-content-center">
        <p>Comment ça marche ?</p><br>
      </div>
      <div class="row double-arrow justify-content-center">
        <a href="#next"><%= cl_image_tag("double_down_array_white.png", height: 35, width: 50, crop: :fill) %></a>
      </div>
    </div>
  </div>
</div>


  <!-- home middle div -->
<div class="container align-middle pt-5 pb-5"  id="next">
  <h2 class="text-center pt-5 pb-5">Simplifiez-vous la vie dans votre cuisine !</h2>
  <div class="justify-content-center text-center  d-flex flex-column justify-content-around flex-md-row">
    <div class="card-home">
      <%= cl_image_tag("menu-icon-final.png", :width=>100, :alt=>"menu", :crop=>:fit, :class=>"icone-home") %>
      <h3 class="mt-4 mb-3">Menu</h3>
      <p>Obtenez en quelques clics votre menu <b>totalement personnalisable</b> avec des
      recettes variées et adaptées à vos besoins et vos envies.</p>
    </div>
    <div class="card-home">
      <%= cl_image_tag("grocery-items-icon-final.png", :width=>100, :alt=>"courses", :crop=>:fit, :class=>"icone-home") %>
      <h3 class="mt-4 mb-3">Liste de courses</h3>
      <p>Une <b>liste de courses</b> est automatiquement générée en fonction de votre
      menu. Vous pouvez <b>la modifier et la compléter</b> à votre guise.</p>
    </div>
    <div class="card-home">
      <%= cl_image_tag("recipe-icon-final.png", :width=>100, :alt=>"recettes", :crop=>:fit, :class=>"icone-home") %>
      <h3 class="mt-4 mb-3">Recettes</h3>
      <p>Chaque jour, accédez aux recettes de votre menu et suivez le guide.
      Vous, votre famille, vos amis, vos convives se régaleront de vos petits
      plats mitonnés !</p>
    </div>
  </div>
  <div class="row pt-4 pb-5">
    <div class="col text-center">
      <%= link_to "Je crée mon menu", new_menu_path, class:"red-btn" %>
    </div>
  </div>
</div>

