<!DOCTYPE html>
<html>
  <head>
    <title>WhatsForDinnerRailsReactApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag 'application', 'data-turbolinks-track': 'reload' %> <!-- ligne ajoutée -->

    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload', defer: true%>

  </head>

  <body>
    <!-- Navbar -->
      <%= render 'shared/navbar' %>
      <%= render 'shared/flashes' %>

    <!-- Content -->
    <div class="main-container">
      <script src="https://cdn.jsdelivr.net/npm/masonry-layout@4.2.2/dist/masonry.pkgd.min.js" integrity="sha384-GNFwBvfVxBkLMJpYMOABq3c+d3KnQxudP/mGPkzpZSTYykLBNsZEnG2D9G/X/+7D" crossorigin="anonymous" async></script>
      <%= yield %>
    </div>

    <!-- footer -->
      <%= render "shared/footer" %>
    
  </body>
</html>
